@import url(//fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic|Halant:400,700);

@import "../bower_modules/bootstrap/less/variables.less";
@import "bootstrap-custom.less";
@import "bootstrap.less";




.btn{
	text-transform:uppercase;
	font-weight:bold;
  border-width: 2px;
}


header{
	.navbar{

		border-bottom:4px solid @brand-primary;

		@media (min-width: @screen-md-min){
			.navbar-nav > li > a {
				padding-left: 10px;
				padding-right: 10px;
			}		
		}

		@media (min-width: @screen-lg-min){
			.navbar-nav > li > a {
				padding-left: 25px;
				padding-right: 25px;
			}		
		}


		.transition(all .5s);


		.container-fluid{position:relative;background:white;z-index:2}

		text-transform:uppercase;

		.navbar-header{
			text-align:center;
			.navbar-brand{
				float:none;
				display:inline-block;
				margin-bottom:-15px;

				.logo{
					.text-hide();
					top:0;left:0;height:120px;width:100%;display:block;margin:-35px 0 0 0;

					&:before{content:'';display:block;position:absolute;top:0;left:0;width:120px;height:120px;background:url(../img/logo-icon.png);background-size:100% 100%}
					&:after{content:'';display:block;top:0;left:90px;margin-top:22px;margin-left:auto;margin-right:auto;width:150px;height:20px;background:url(../img/logo-text.png);background-size:100% 100%}

					@media (min-width: @grid-float-breakpoint) {
						width:200px;
						&:after{position:absolute;margin-left:0;margin-top:35px;margin-right:0}
					}
				}
			}

			.navbar-toggle{
				border:0;
				padding:10px;
				right:0px;
				position:absolute;
				.icon-bar{background:@text-color;width:17px;transform-origin:0 50%;transition:all 0.2s}
				.icon-bar:first-child{transform:rotate(45deg)}
				.icon-bar+.icon-bar{opacity:0}
				.icon-bar+.icon-bar+.icon-bar{transform:rotate(-45deg);opacity:1}

				&:hover, &:focus{background:white}

				&.collapsed{
					.icon-bar:first-child{transform:rotate(0)}
					.icon-bar+.icon-bar{opacity:1}
					.icon-bar+.icon-bar+.icon-bar{transform:rotate(0)}
				}
			}
		}

		

		.menu{
			text-align:center;
			max-height:calc(~"100vh - 90px");
			border-color:transparent;
			box-shadow:none;
		}

		.navbar-form{
			ul{
				display:table;margin:0;padding:0;
				width:100%;
				li{
					display:table-cell;width:50%;margin:0;padding:0 5px;
					@media (min-width: @grid-float-breakpoint){
						width:auto;
					}
				}
			}
			.btn{
				display:block;
				padding-left:10px;padding-right:10px;
				@media (min-width: @grid-float-breakpoint){
					padding-left:20px;padding-right:20px;
					width:auto;
				}
			}

		}



	}
}